[Unit]
Description=Apache SOLR
ConditionPathExists={{solr_install_path}}
After=syslog.target network.target remote-fs.target nss-lookup.target systemd-journald-dev-log.socket
Before=multi-user.target
Conflicts=shutdown.target

[Service]
User=solr
LimitNOFILE={{ulimit_value}}
LimitNPROC={{ulimit_value}}
PIDFile=/var/solr/solr-8983.pid
Environment=SOLR_INCLUDE=/etc/default/solr.in.sh
Environment=RUNAS=solr
Environment=SOLR_INSTALL_DIR={{solr_install_path}}

Restart=on-failure
RestartSec=5
startLimitIntervalSec=60

ExecStart={{solr_install_path}}/bin/solr start
ExecStop={{solr_install_path}}/bin/solr stop
Restart=on-failure

[Install]
WantedBy=multi-user.target

